<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<# 
PushIndent("				");
#>
---<#= relation.DbObject1_Name #> insert
		INSERT INTO [<#= relation.DbObject1_Schema #>].[<#= relation.DbObject1_Name #>]
					([Deleted]
					,[CreatedBy_FK]
					,[Created]
					,[ModifiedBy_FK]
					,[Modified]
					,[<#= relation.DbColumn1_Name #>]
<# 
			PushIndent("					");
			foreach(var col in columns){
				WriteLine(",[" + col.DbColumn_Name + "]");
			}
			PopIndent();
#>
					)
		SELECT
					0
					,@userId
					,getdate()
					,@userId
					,getdate()
					,@id
<# 
			PushIndent("					");
			foreach(var col in columns){
				WriteSelectColumn(col);
			}
			PopIndent();
#>
		FROM OPENJSON(@jsonRows)
		WITH (	
			[<#= entity.DbPrimaryColumn_Name #>] varchar(30)
			,[Deleted] [bit]
<# 
			PushIndent("			");
			foreach(var col in columns){
				WriteJsonColumn(col);
			}
			PopIndent();
#>
			) AS json
			WHERE ISNUMERIC(json.[<#= entity.DbPrimaryColumn_Name #>]) <> 1 and isnull(json.[Deleted], 0) = 0 
			--and @id not in (SELECT Entity_FK FROM [crm].[fn_GetBannedEntityIds] (@userId, <#= parentEntityType #>, 4))
---<#= relation.DbObject1_Name #> insert

